{{page-title "VC login"}}

<section class="au-o-region-large au-u-min-height-full au-u-overflow-auto">
  <div class="au-u-flex au-u-flex--center au-u-height-full">
    <div class="au-o-layout">

      <section class="au-u-text-center">
        <AuContent @skin="large" class="au-u-margin-bottom">
          <AuHeading @level="1" @skin="1" class="au-u-margin-bottom">
            Log in securely to access the data
          </AuHeading>

          <p>
            Not all data is freely accessible. To gain access to the locked
            data, you will need to request access or log in by scanning a QR
            code.
          </p>
        </AuContent>
      </section>

      <div class="au-o-grid au-o-grid--small">

        <div class="au-o-grid__item au-u-1-2@small">
          <AuCard class="au-u-background-gray-200" @textCenter={{true}} as |c|>
            <c.header>
              <AuHeading @level="3" @skin="3">
                Logging in for the first time?
              </AuHeading>
            </c.header>

            <c.content
              class="au-u-flex au-u-flex--vertical-center au-u-flex--center au-u-flex--column"
            >
              <p>Request a verifiable credential.</p>
              <div
                class="au-u-height-full au-u-flex au-u-flex--vertical-center au-u-flex--center"
              >
                <img
                  class="login-image-big"
                  src="/assets/images/login-registration.png"
                  alt="login for the first time"
                />
              </div>
            </c.content>

            <c.footer class="au-u-margin-top">
              <AuLink @route="auth.registration" @width="block" @skin="button">
                Request access
              </AuLink>
            </c.footer>
          </AuCard>
        </div>

        <div class="au-o-grid__item au-u-1-2@small">
          <AuCard class="au-u-background-gray-200" @textCenter={{true}} as |c|>
            <c.header>
              <AuHeading @level="3" @skin="3">
                Already got an access card?
              </AuHeading>
            </c.header>

            <c.content
              class="au-u-flex au-u-flex--vertical-center au-u-flex--center au-u-flex--column"
            >
              <p>Log in.</p>
              <div
                class="au-u-height-full au-u-flex au-u-flex--vertical-center au-u-flex--center"
              >
                <img
                  class="login-image-small"
                  src="/assets/images/login-phone.png"
                  alt="login with qr code"
                />
              </div>
            </c.content>

            <c.footer class="au-u-margin-top">
              <AuLink
                @route="auth.present-credential"
                @width="block"
                @skin="button"
              >
                Scan QR code
              </AuLink>
            </c.footer>
          </AuCard>
        </div>

        <div class="au-o-grid__item au-u-1-2@small">
          <AuCard class="au-u-background-gray-200" @textCenter={{true}} as |c|>
            <c.header>
              <AuHeading @level="3" @skin="3">
                Log in via ACM/IDM
              </AuHeading>
            </c.header>

            <c.footer class="au-u-margin-top">
              <AuLinkExternal
                href={{this.loginUrl}}
                @width="block"
                @skin="button"
                @newTab={{false}}
              >
                Login
              </AuLinkExternal>
            </c.footer>
          </AuCard>
        </div>

      </div>
    </div>
  </div>
</section>