<AuTable>
  <:title>Catalog</:title>
  <:body>
    <tr>
      <td>Title</td>
      <td>{{@catalog.title}}</td>
    </tr>
    <tr>
      <td>Description</td>
      <td>{{@catalog.description}}</td>
    </tr>
    <tr>
      <td>Issued</td>
      <td>{{@catalog.issued}}</td>
    </tr>
    <tr>
      <td>Modified</td>
      <td>{{@catalog.modified}}</td>
    </tr>
    <tr>
      <td>Language</td>
      <td>
        <AuLinkExternal href={{@catalog.language}}>
          {{@catalog.language}}
        </AuLinkExternal>
      </td>
    </tr>
    <tr>
      <td>License</td>
      <td>
        <AuLinkExternal
          href={{@catalog.license}}
        >{{@catalog.license}}</AuLinkExternal>
      </td>
    </tr>
    <tr>
      <td>Rights</td>
      <td><AuLinkExternal
          href={{@catalog.rights}}
        >{{@catalog.rights}}</AuLinkExternal></td>
    </tr>
    <tr>
      <td>Homepage</td>
      <td><AuLinkExternal
          href={{@catalog.homepage}}
        >{{@catalog.homepage}}</AuLinkExternal></td>
    </tr>
    <tr>
      <td>Spatial</td>
      <td><AuLinkExternal
          href={{@catalog.spatial}}
        >{{@catalog.spatial}}</AuLinkExternal></td>
    </tr>
    <tr>
      <td>Publisher</td>
      <td><AuLinkExternal
          href={{@catalog.publisher.uri}}
        >{{@catalog.publisher.uri}}</AuLinkExternal></td>
    </tr>
    <tr>
      <td>Theme taxonomy</td>
      <td><AuLinkExternal
          href={{@catalog.themeTaxonomy.uri}}
        >{{@catalog.themeTaxonomy.uri}}</AuLinkExternal></td>
    </tr>
    <tr>
      <td>Record</td>
      <td><AuLinkExternal
          href={{@catalog.record.uri}}
        >{{@catalog.record.uri}}</AuLinkExternal></td>
    </tr>
    <tr>
      <td>Datasets</td>
      <td>
        <AuList as |Item|>
          {{#each @catalog.datasets as |dataset|}}
            <Item>
              <AuLink
                @route="dcat.datasets.dataset"
                @model={{dataset}}
                @icon="book"
              >{{dataset.title}}</AuLink>
            </Item>
          {{/each}}
        </AuList>
      </td>
    </tr>
  </:body>
</AuTable>