<AuTable>
  <:title>Dataset</:title>
  <:body>
    <tr>
      <td>Title</td>
      <td>{{@dataset.title}}</td>
    </tr>
    <tr>
      <td>Description</td>
      <td>{{@dataset.description}}</td>
    </tr>
    <tr>
      <td>Issued</td>
      <td>{{@dataset.issued}}</td>
    </tr>
    <tr>
      <td>Modified</td>
      <td>{{@dataset.modified}}</td>
    </tr>
    <tr>
      <td>Keywords</td>
      <td>
        <AuList as |Item|>
          {{#each @dataset.keyword as |kw|}}
            <Item>{{kw}}</Item>
          {{/each}}
        </AuList>
      </td>
    </tr>
    <tr>
      <td>Language</td>
      <td><AuLinkExternal
          href={{@dataset.language}}
        >{{@dataset.language}}</AuLinkExternal></td>
    </tr>
    <tr>
      <td>Contact point</td>
      <td><AuLinkExternal
          href={{@dataset.contactPoint}}
        >{{@dataset.contactPoint}}</AuLinkExternal></td>
    </tr>
    <tr>
      <td>Temporal</td>
      <td><AuLinkExternal
          href={{@dataset.temporal}}
        >{{@dataset.temporal}}</AuLinkExternal></td>
    </tr>
    <tr>
      <td>Landing page</td>
      <td><AuLinkExternal
          href={{@dataset.landingPage}}
        >{{@dataset.landingPage}}</AuLinkExternal></td>
    </tr>
    <tr>
      <td>Publisher</td>
      <td><AuLinkExternal
          href={{@dataset.publisher.uri}}
        >{{@dataset.publisher.uri}}</AuLinkExternal></td>
    </tr>
    <tr>
      <td>Themes</td>
      <td>
        <AuList as |Item|>
          {{#each @dataset.themes as |theme|}}
            <Item><AuLinkExternal
                href={{theme.uri}}
              >{{theme.uri}}</AuLinkExternal></Item>
          {{/each}}
        </AuList>
      </td>
    </tr>
    <tr>
      <td>Distributions</td>
      <tr>
        <AuList as |Item|>
          {{#each @dataset.distributions as |dist|}}
            <Item><AuLink
                @route="dcat.distributions.distribution"
                @model={{dist}}
                @icon="file"
              >{{dist.title}}</AuLink></Item>
          {{/each}}
        </AuList>
      </tr>
    </tr>
  </:body>
  <:footer>
    <tr>
      <td>Catalog</td>
      <td><AuLink
          @route="dcat.catalogs.catalog"
          @model={{@dataset.catalog}}
          @icon="chevron-up"
          @skin="secondary"
        >{{@dataset.catalog.title}}</AuLink></td>
    </tr>
  </:footer>
</AuTable>