<AuTable>
  <:title>Distribution</:title>
  <:body>
    <tr>
      <td>Title</td>
      <td>{{@distribution.title}}</td>
    </tr>
    <tr>
      <td>Description</td>
      <td>{{@distribution.description}}</td>
    </tr>
    <tr>
      <td>Issued</td>
      <td>{{@distribution.issued}}</td>
    </tr>
    <tr>
      <td>Modified</td>
      <td>{{@distribution.modified}}</td>
    </tr>
    <tr>
      <td>License</td>
      <td><AuLinkExternal
          @href={{@distribution.license}}
        >{{@distribution.license}}</AuLinkExternal></td>
    </tr>
    <tr>
      <td>Rights</td>
      <td><AuLinkExternal
          @href={{@distribution.rights}}
        >{{@distribution.rights}}</AuLinkExternal></td>
    </tr>
    <tr>
      <td>Access URL</td>
      <td><AuLinkExternal
          @href={{@distribution.accessUrl}}
        >{{@distribution.accessUrl}}</AuLinkExternal></td>
    </tr>
    <tr>
      <td>Download URL</td>
      <td>
        <AuLinkExternal
          @href={{@distribution.downloadUrl}}
        >{{@distribution.downloadUrl}}</AuLinkExternal></td>
    </tr>
    <tr>
      <td>Byte size</td>
      <td>{{@distribution.byteSize}}</td>
    </tr>
    <tr>
      <td>Format</td>
      <td><AuLinkExternal
          @href={{@distribution.format.uri}}
        >{{@distribution.format.uri}}</AuLinkExternal></td>
    </tr>
  </:body>
  <:footer>
    <tr>
      <td>Dataset</td>
      <td><AuLink
          @route="dcat.datasets.dataset"
          @model={{@distribution.dataset}}
          @icon="chevron-up"
          @skin="secondary"
        >{{@distribution.dataset.title}}</AuLink></td>
    </tr>
  </:footer>
</AuTable>