<table>
  <caption>Distribution</caption>
  <tbody>
    <tr>
      <td>Title</td>
      <td>{{@distribution.title}}</td>
    </tr>
    <tr>
      <td>Description</td>
      <td>{{@distribution.description}}</td>
    </tr>
    <tr>
      <td>Issued</td>
      <td>{{@distribution.issued}}</td>
    </tr>
    <tr>
      <td>Modified</td>
      <td>{{@distribution.modified}}</td>
    </tr>
    <tr>
      <td>License</td>
      <td>{{@distribution.license}}</td>
    </tr>
    <tr>
      <td>Rights</td>
      <td>{{@distribution.rights}}</td>
    </tr>
    <tr>
      <td>Access URL</td>
      <td>{{@distribution.accessUrl}}</td>
    </tr>
    <tr>
      <td>Download URL</td>
      <td>{{@distribution.downloadUrl}}</td>
    </tr>
    <tr>
      <td>Byte size</td>
      <td>{{@distribution.byteSize}}</td>
    </tr>
    <tr>
      <td>Format</td>
      <td>{{@distribution.format.uri}}</td>
    </tr>
  </tbody>
</table>