{{page-title "DCAT"}}

<div class="au-c-main-container" itemprop="mainContentOfPage">
  <div
    class="au-c-main-container__content au-c-main-container__content--scroll"
  >
    <main id="content">
      <div class="au-o-region-large">
        <div class="au-o-layout">
          <AuHeading @skin="2">Search for datasets</AuHeading>
          <p class="au-u-margin-top-small au-u-margin-bottom">
            <AuInput
              class="au-c-input au-c-input--block js-js-input-pattern-bound"
              placeholder="Search term(s)"
              value={{this.keyword}}
              oninput={{perform this.updateSearch value="target.value"}}
              aria-label="Kies een dataset of distributie"
            />
          </p>
          {{#if this.queryStore.isRunning}}
            <AuLoader @padding="small" />
          {{else}}
            <AuList as |Item|>
              {{#each this.model as |dataset|}}
                <Item>
                  <AuCard as |c|>
                    <c.header>
                      <AuHeading @level="2" @skin="4">
                        {{dataset.title}}
                      </AuHeading>
                    </c.header>
                    <c.content>
                      <p>{{dataset.description}}</p>
                    </c.content>
                    <c.footer>
                      <p>
                        <AuLink
                          @skin="button"
                          @route="dcat.datasets.dataset"
                          @model={{dataset}}
                        >View dataset</AuLink>
                        {{#if dataset.distributions}}
                          {{! template-lint-disable require-context-role }}
                          <AuDropdown
                            @title={{concat
                              dataset.distributions.length
                              " distribution"
                              (if (not-eq dataset.distributions.length 1) "s")
                            }}
                            @skin="secondary"
                          >
                            {{#each dataset.distributions as |distribution|}}
                              <AuButton @skin="link" role="menuitem"><AuLink
                                  @skin="primary"
                                  @route="dcat.distributions.distribution"
                                  @model={{distribution}}
                                >{{distribution.title}}</AuLink></AuButton>
                            {{/each}}
                          </AuDropdown>
                        {{/if}}
                      </p>
                    </c.footer>
                  </AuCard>
                </Item>
              {{/each}}
            </AuList>
            <AuDataTableNumberPagination
              @page={{this.page}}
              @size={{this.size}}
              @nbOfItems={{this.model.length}}
              @total={{this.model.meta.count}}
              @links={{this.model.meta.pagination}}
            />
          {{/if}}
        </div>
      </div>
    </main>
  </div>
</div>