{{page-title @title}}

<section class="au-o-region-large">
  <div class="au-o-layout">
    <div class="au-o-grid au-o-grid--small au-o-grid--center au-u-1-1">
      <AuLink
        @route={{@backRoute}}
        @skin="primary"
        @icon="arrow-left"
        class="au-u-margin-bottom-small au-u-flex au-u-flex-self-start au-u-margin-top-small"
      >
        Back
      </AuLink>

      <div class="au-o-grid__item au-u-1-2@small">
        <AuCard class="au-u-background-gray-200" @textCenter={{true}} as |c|>
          <c.header>
            <AuHeading @level="3" @skin="3">
              {{@title}}
            </AuHeading>
            {{#if @step}}
              <p>{{@step}}</p>
            {{/if}}
          </c.header>

          <c.content
            class="au-u-flex au-u-flex--vertical-center au-u-flex--center au-u-flex--column"
          >
            {{#if this.qrExpired}}
              <AuAlert @skin="warning" class="au-u-margin-bottom" @icon="cross">
                This QR code has expired. Please
                <AuLink
                  @skin="primary"
                  {{on "click" this.cancelWalletInteraction}}
                >try again</AuLink>
                or refresh to get a new one.
              </AuAlert>
            {{else}}
              {{#if (eq this.statusObject.status "pending")}}
                <p>{{@pendingMessage}}</p>

                {{#if this.qrCodeUrl}}
                  <QrCode @link={{this.qrCodeUrl}} />
                {{else}}
                  <p>There was a problem generating the QR code. Please try
                    again.</p>
                {{/if}}

              {{else if (eq this.statusObject.status "received")}}
                <img
                  src="/assets/images/login-wallet.png"
                  class="login-image-big"
                  alt="login with wallet"
                />
                <AuLoader
                  @inline={{false}}
                  @centered={{true}}
                  class="au-u-margin-top-large"
                >Interacting with wallet...</AuLoader>
                <button
                  type="button"
                  class="au-c-button au-c-button--secondary au-u-margin-top-large"
                  {{on "click" this.cancelWalletInteraction}}
                >
                  Cancel
                </button>

              {{else if (eq this.statusObject.status "accepted")}}
                <AuAlert
                  @skin="success"
                  class="au-u-margin-bottom"
                  @icon="check"
                >
                  Your credential has been successfully presented. You are now
                  signed in and will be redirected to the data space.
                </AuAlert>

              {{else if (eq this.statusObject.status "rejected")}}
                <AuAlert @skin="error" class="au-u-margin-bottom" @icon="login">
                  Your credential was rejected. Please obtain a valid credential
                  to access the data space.
                </AuAlert>

              {{else if (eq this.statusObject.status "issued")}}
                <AuAlert
                  @skin="success"
                  class="au-u-margin-bottom"
                  @icon="check"
                >
                  Your credential has been successfully sent to your wallet. You
                  can now use it to sign in to the data space.
                </AuAlert>

              {{else}}
                <AuAlert @skin="error" class="au-u-margin-bottom" @icon="cross">
                  Unknown status. Please refresh the page or contact support.
                </AuAlert>
              {{/if}}
            {{/if}}
          </c.content>

          {{#unless this.qrExpired}}
            <c.footer>
              {{#if (eq this.statusObject.status "pending")}}
                <p>
                  This QR-code expires in
                  {{this.qrMinutes}}m
                  {{this.qrSeconds}}s.
                </p>
              {{/if}}
            </c.footer>
          {{/unless}}
        </AuCard>

        {{#if @helpLink}}
          <div class="au-u-text-center">
            <AuLink
              href={{@helpLink}}
              class="au-u-margin-top"
              target="_blank"
              rel="noopener noreferrer"
            >
              Need help? Read our manual
            </AuLink>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</section>