{{page-title "Annotation"}}

<AuTable>
  <:title>Geo annotation</:title>
  <:body>
    <tr>
      <td>Resource UUID</td>
      <td>{{@model.annotation.id}}</td>
    </tr>
    <tr>
      <td>Motivation</td>
      <td>{{@model.annotation.motivatedBy}}</td>
    </tr>
    <tr>
      <td>Confidence</td>
      <td>{{@model.annotation.confidence}}</td>
    </tr>
  </:body>
</AuTable>

<AuTable>
  <:title>Location</:title>
  <:body>
    <tr>
      <td>Label</td>
      <td>{{@model.location.label}}</td>
    </tr>
    <tr>
      <td>Exact match</td>
      <td>
        {{#if @model.location.exactMatch}}
          <AuLinkExternal href={{@model.location.exactMatch}}>
            {{@model.location.exactMatch}}
          </AuLinkExternal>
        {{else}}
          N/A
        {{/if}}
      </td>
    </tr>
  </:body>
</AuTable>

<AuTable>
  <:title>Geometry</:title>
  <:body>
    <tr>
      <td>EPSG:31370 (Belgian Lambert 72)</td>
      <td>{{@model.geometry.asWKT}}</td>
    </tr>
    <tr>
      <td>Map</td>
      <td>
        <Leaflet @props={{@model.geometry.wgs84Coord}} />
      </td>
    </tr>
  </:body>
</AuTable>

{{outlet}}