{{page-title "Annotations"}}
<AuDataTable
  @content={{@model}}
  @noDataMessage="No annotated data found"
  as |t|
>
  <t.content as |c|>
    <c.header>
      <th>Annotation</th>
      <th>Motivated by</th>
    </c.header>
    <c.body as |annotation|>
      <td><AuLink
          @model={{annotation}}
          @route="annotations.annotation"
        >{{annotation.id}}</AuLink></td>
      <td>{{annotation.motivatedBy}}</td>
    </c.body>
  </t.content>
</AuDataTable>
{{outlet}}