{{page-title "DecideFrontend"}}
<AuApp class="{{if this.showEnvironment 'au-c-app--environment'}}">
  <AuMainHeader
    @brandLink={{unless
      this.session.isAuthenticated
      "https://www.vlaanderen.be/nl"
    }}
    @homeRoute="index"
    @appTitle={{this.appTitle}}
  />
  <AuMainContainer as |main|>
    <main.content>
      <a href="/protected">protected</a>
      <a href="/logout">logout</a>
      <AuBodyContainer class="au-u-padding">
        {{outlet}}
      </AuBodyContainer>
    </main.content>
  </AuMainContainer>
</AuApp>
<AuToaster />