{{page-title "ReceiveCredential"}}
<div class="au-c-main-container" itemprop="mainContentOfPage">
  <div
    class="au-c-main-container__content au-c-main-container__content--scroll"
  >
    <main
      id="content"
      class="au-u-flex au-u-flex--column au-u-flex--vertical-center"
    >
      <div
        class="au-u-box au-u-flex au-u-flex--column au-u-max-width-small au-u-text-center au-u-flex--vertical-center"
      >

        <AuHeading @level="1" @skin="2">Receive Credential</AuHeading>
        {{! template-lint-disable no-inline-styles }}

        {{#if (eq this.model.statusObject.status "pending")}}
          <p>Please scan the QR code with your wallet app to receive your
            credential.</p>
          <QrCode @link={{@model.credentialOfferUri}} />
        {{else if (eq this.model.statusObject.status "received")}}
          <AuLoader
            @inline={{false}}
            @centered={{true}}
            class="au-u-margin-top-large"
          >Interacting with wallet...</AuLoader>
        {{else if (eq this.model.statusObject.status "issued")}}
          <AuAlert @skin="success" class="au-u-margin-bottom" @icon="check">
            Your credential has been successfully sent to your wallet. You can
            now use it to sign in to the data space.
          </AuAlert>
        {{else if (eq this.model.statusObject.status "rejected")}}
          <AuAlert @skin="error" class="au-u-margin-bottom" @icon="login">
            Something went wrong while creating your credential.
          </AuAlert>
        {{else}}
          <AuAlert @skin="error" class="au-u-margin-bottom" @icon="cross">
            Unknown status. Please refresh the page or contact support.
          </AuAlert>
        {{/if}}

        {{outlet}}
      </div>
    </main>
  </div>
</div>